# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 04a0351cab89c791a1cd8fde430a586110737610f31eee5a5b86ae3e405d71955891ac3f55382dc54102ad4fba25f62d920c61e93a6c1be321c8bef4c1d5ad4d
  target_file_num: <%= ENV["TARGET_FILE_NUM"] %>

test:
  secret_key_base: 1e492dc138f683c6e253cc0ab8db2fdad7f4616995f18d06f9d578429fcccf56cb4ed1be9a0af2a07c77069ab02f9ef6a3c15542483f42d5e6246f6736240f48

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  target_file_num: <%= ENV["TARGET_FILE_NUM"] %>
