// Add scss includes explicitly here.
@import 'caseflow_main';

.align-top {
  vertical-align: top;
}


.cf-logo-image-default {
  background-image: url(asset-path('caseflow-monitor-logo.svg'));
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.cf-logo-image-monitor {
  background-image: url(asset-path('caseflow-monitor-logo.svg'));
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

.monitor-warning-icon {
  background-image: url(asset-path('warning.svg'));
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}

body {
  font-size: 1.5rem;
}

.feedback {
  width: 458px;
  margin-left: auto;
  margin-right: auto;
}

.monitor-block {
  border: 1px solid #d6d7d9;
  background: #ffffff;
  padding:20px;
}

.monitor-block-error {
  background: #f9dede;
}

.monitor-block-title {
  font-size: 1.7rem;
  border-bottom: 1px solid #d6d7d9;
  padding-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.monitor-block-body {
  padding-top: 20px;
}

.monitor-metric {
  margin-top: 10px;
  margin-bottom: 10px;
}

.monitor-row {
  margin-bottom: 20px;
}

.monitor-metric-label {
  width: 70px;
  display: inline-block;
}

.monitor-metric-value {
  font-weight: bold;
  text-align: right;
}

.monitor-last-check {
  position: relative;
  top: 8px;
  right: 0px;
  font-size: 1.3rem;
  font-style: italic;
  color: #5B616B;
}

.status-circle:before {
  content: ' \25CF';
  font-size: 2.5rem;
  position: relative;
  top: 3px;
  padding-right: 5px;;
}

.status-border-down {
  border: 3px solid #E31C3D;
}

.status-border-unstable {
  border: 3px solid #FDB81E;
}

.status-circle-up {
  color: #2E8540;
}

.status-circle-unstable {
  color: #FDB81E;
}

.status-circle-down {
  color: #E31C3D;
}

@media screen and (max-width: 768px) {
  .monitor-block {
    margin-bottom: 20px;
  }
  .monitor-row {
    margin-bottom: 0px;
  }
}

