<script>

  function roundLatency(latency) {
    if(latency) {
      return parseFloat(Math.round(latency * 100) / 100).toFixed(2);
    }
    return 0
  }
  function pollForMetrics() {
    $.ajax({
      dataType: "json",
      url: "<%= Rails.application.config.app_url_prefix %>/sample",
      success: function(data) {
        $( "#monitor-metrics" ).html("");
        var count = 0;
        var grid;
        $.each(data, function (serviceName, metricsData) {
          
          if ( count % 3 === 0) {
            grid = document.createElement('div');
            grid.className='usa-grid monitor-row';
            grid.id = "monitor-block-" + count;
            $( "#monitor-metrics" ).append(grid);
          }
          metricsData.latency = roundLatency(metricsData.latency)
          metricsData.latency10 = roundLatency(metricsData.latency10)
          metricsData.latency60 = roundLatency(metricsData.latency60)
          metricsData.up_rate_5 = roundLatency(metricsData.up_rate_5)

          if( metricsData.up_rate_5 > 90) {
            metricsData.statusGreen = true;
          } else if( metricsData.up_rate_5 > 50) {
            metricsData.statusWarn = true;
          } else {
            metricsData.statusDown = true;
          }
          var source = document.getElementById("metrics-template").innerHTML;
          var template = Handlebars.compile(source);
          var output = template(metricsData);
          $('#' + grid.id).append(output);
          $("time.timeago").timeago();
          ++count;
        });
      },
      complete: function() {
        setTimeout(pollForMetrics, 5000);
      }
    });
  }

  pollForMetrics();

</script>

<script id="metrics-template" type="text/x-handlebars-template">
  <div class="usa-width-one-third">
    <div class="monitor-block {{#if statusDown}}status-border-down{{/if}}  {{#if statusWarn}}status-border-unstable{{/if}}">
      <div class="monitor-block-title">
        {{#if statusGreen}}
          <i class="status-circle status-circle-up"></i> {{name}}
        {{/if}}
        {{#if statusWarn}}
          <i class="status-circle status-circle-unstable"></i>{{name}}
        {{/if}}
        {{#if statusDown}}
          <i class="status-circle status-circle-down"></i>{{name}}
        {{/if}}
        <div class="monitor-last-check">Last Checked
          <span class="monitor-metric-value">
            {{#if time}}
              <time class="timeago" datetime="{{time}}"></time>
            {{else}}
              Never
            {{/if}}
          </span>
        </div>
      </div>
      <div class="monitor-block-body">
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            API:
          </span>
          <span class="monitor-metric-value">
            {{api}}
          </span>
        </div>
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            Service:
          </span>
          <span class="monitor-metric-value">
            {{service}}
          </span>
        </div>
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            Latency:
          </span>
          <span class="monitor-metric-value">
            {{latency}} s
          </span>
        </div>

        {{#if latency10}}
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            Latency<sub>[10]</sub>:
          </span>
          <span class="monitor-metric-value">
            {{latency10}} s
          </span>
        </div>
        {{/if}}
        {{#if latency60}}
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            Latency<sub>[60]</sub>:
          </span>
          <span class="monitor-metric-value">
            {{latency60}} s
          </span>
        </div>
        {{/if}}
        <div class="monitor-metric">
          <span class="monitor-metric-label">
            Status:
          </span>
          <span class="monitor-metric-value">
            {{#if pass}}
              Up
            {{else}}
              Down
            {{/if}}
          </span>
        </div>
        <div class="monitor-metric">
          <span class="monitor-metric-label">
           Up Rate<sub>[5]</sub>:
          </span>
          <span class="monitor-metric-value">
            {{up_rate_5}} %
          </span>
        </div>
      </div>
    </div>
  </div>
</script>

<div class="cf-app-segment" id="monitor-metrics">
</div>
